<% provide(:title, "About") %>

<h1>StaticPages#<%= yield(:title).downcase %></h1>
<p>
  To go to 'home' press: <a href="/static_pages/home">this</a>.
  <br>
  To go to 'help' press: <a href="/static_pages/help">this</a>.
  <br>
  To go to 'contact' press: <a href="/static_pages/contact">this</a>.
</p>
