<% provide(:title, "About") %>

  <h1>StaticPages#about</h1>
  <p>
    To go to home press: <a href="/static_pages/home">this</a>.
    <br>
    To go to help press: <a href="/static_pages/help">this</a>.
  </p>
