<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
  </head>
  <body>
    <h1>StaticPages#help</h1>
    <p>
      To go to home press: <a href="/static_pages/home">this</a>.
    </p>
  </body>
<html>
